body {
  background: #FFFFFF;
  margin: 0 0 0 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
  width: 100%;
  height: 10vh;
  margin-top: 2vh;
  margin-left: 2vw;
  display: block;
}

.header h1 {
  font-size: 4vh;
  padding: 0 0 0 0;
  margin-left: 2vw;
  float: left;
}

.header form {
  width: 40vw;
  height: 4vh;
  padding: 0 0 0 0;
  margin-right: 2vw;
  float: right;
}

.header form input {
  font-size: 3vh;
  width: 100%;
  height: 4vh;
}

.container {
  align-content: center;
  width: 100%;
  overflow: hidden; 
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 2vh;
}

.container .person {
  float: left;
  outline: 1px solid;
  width: 25vw;
  padding-left: 1vw;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.new {
  width: 60vw;
  margin-top: 2vh;
  margin-left: 2vw;
}

.new h1 {
  font-size: 4vh;
  padding: 0 0 0 0;
  margin-left: 2vw;
}

.new form input[type=text] {
  float: left;
  width: 20vw;
  height: 2vh;
  padding-left: 1vw;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.new form input[type=submit] {
  float: left;
  width: 15vw;
  height: 4vh;
  font-size: 3vh;
  padding-left: 1vw;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: #0000ff;
  border: 0 none;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

